/* Page Header ******************************************************************** */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  height: 100%; }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 100%; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

/*abbr[title],
abbr[data-original-title] { // 4
  text-decoration: underline; // 2
  text-decoration: underline dotted; // 2
  cursor: help; // 3
  border-bottom: 0; // 1
}*/
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent; }

/*a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}*/
pre,
code,
kbd,
samp {
  font-family: monospace, Consolas, Monaco;
  font-size: 1em; }

pre {
  margin: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  /*margin-bottom: $label-margin-bottom;*/ }

button {
  border-radius: 0; }

button:focus {
  outline: none; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-family: "icons-font";
  src: url("/fonts/icons-font/icons-font.woff") format("woff"), url("/fonts/icons-font/icons-font.ttf") format("truetype"), url("/fonts/icons-font/icons-font.eot"), url("/fonts/icons-font/icons-font.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"],
[class*=" icon-"] {
  line-height: 1;
  font-size: 1.3rem; }

.icon-facebook-official:before {
  content: "\61"; }

.icon-linkedin-square:before {
  content: "\62";
  color: #0077B7; }

.icon-github:before {
  content: "\63";
  color: black; }

.icon-moon-o:before {
  content: "\64"; }

.icon-sun-o:before {
  content: "\65"; }

.icon-bell:before {
  content: "\66"; }

.icon-calendar:before {
  content: "\67"; }

.icon-tags:before {
  content: "\68"; }

.icon-bell-slash:before {
  content: "\69"; }

.icon-external-link:before {
  content: "\6a"; }

.icon-twitter:before {
  content: "\6b";
  color: #65BBF2; }

/* Page Header ******************************************************************** */
::-webkit-scrollbar {
  width: 8px;
  background-color: white; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26); }

.hide-md-down {
  display: none; }

@media (min-width: 48rem) {
  html {
    font-size: 1.1rem; } }

@media (min-width: 62rem) {
  .hide-lg-up {
    display: none; }
  .hide-md-down {
    display: block; } }

@media (min-width: 75rem) {
  html {
    font-size: 1.2rem; } }

/* Shared ******************************************************************** */
button:disabled,
button[disabled] {
  opacity: 0.5;
  pointer-events: none; }

.container {
  padding: 0.5rem; }

.btn-image {
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
  background-color: white; }
  .btn-image img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle; }

.disqus {
  padding: 0.5rem;
  display: none;
  border-radius: 10px; }

.round-tl-br {
  border-radius: 8px 3px; }

.social-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem; }

.social-link {
  padding: 0.2rem; }

/* Blog List ******************************************************************** */
.phbl {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.3rem;
  margin-bottom: 0rem;
  transition: background-color 0.3s linear; }
  .phbl .pgbl-header {
    font-size: 1.8rem;
    margin: 0; }

/* Footer ******************************************************************** */
footer {
  text-align: center;
  font-style: italic;
  margin: 1rem; }

/* Page Header ******************************************************************** */
/* NavBar ******************************************************************** */
.nav {
  padding: 0.1rem;
  transition: background-color 0.3s linear; }

.nav-brand {
  text-align: center;
  margin: 0.4rem 0;
  font-weight: bold; }
  .nav-brand.nav-brand-sm {
    margin-bottom: 1rem;
    margin-top: 0.4rem; }
    .nav-brand.nav-brand-sm .nav-brand-link {
      font-size: 0.8rem; }

.nav-brand-link {
  font-size: 1.8rem;
  display: inline-block; }

.aboutAuther-container {
  margin-bottom: 0.2rem;
  border-radius: 10px;
  transition: background-color 0.3s linear; }

.aboutAuther {
  padding: 0.3rem; }

.aboutAuther-image {
  max-width: 75px;
  float: left;
  margin: 0.3rem;
  margin-left: 0px;
  shape-outside: circle(40%);
  background-clip: content-box;
  display: block; }

.aboutAuther-text {
  font-size: 1rem;
  line-height: 1.55;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 0.5rem; }
  .aboutAuther-text::after {
    content: "";
    clear: both;
    display: block; }

.aboutAuther-text-auther {
  display: inline-block;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid;
  margin-left: 0.3rem; }

.aboutAuther-text-quote {
  white-space: nowrap;
  font-size: 1rem; }

.aboutAuther-social {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0.15rem; }

.aboutAuther-social-header {
  font-style: italic;
  margin-bottom: 0.3rem; }

.nav-list {
  padding-top: 0.3rem;
  padding-left: 0;
  margin: 0px;
  list-style: none; }

.nav-item {
  display: flex;
  align-items: center;
  padding-bottom: 0.11rem;
  border-bottom-left-radius: 0.7rem;
  font-size: 1.1rem;
  padding-top: 0;
  padding-left: 0.3rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-top: 0.3rem; }
  .nav-item .nav-item-first {
    margin-top: 0; }

.nav-link {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 8px;
  margin-right: auto; }

.nav-button {
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-style: oblique;
  margin-left: 0.5em; }
  .nav-button:hover {
    opacity: 0.7; }

@media (min-width: 62rem) {
  .content {
    overflow-x: hidden;
    margin-left: 15.625rem; }
  .nav {
    width: 15.625rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; }
  .nav-brand.nav-brand-sm {
    margin: 0; }
  .nav-brand .nav-brand-link {
    font-size: 1.5rem; }
  .aboutAuther-container {
    transition: background-color 0.3s linear; }
  .aboutAuther {
    padding: 0.3rem; }
  .aboutAuther-text-auther {
    font-size: 0.8rem; } }

.blog-thumbnail {
  border-width: 1px;
  border-style: solid;
  padding: 0.4rem;
  position: relative;
  border-radius: 10px;
  margin: 0.5rem 0;
  transition: background-color 0.3s linear; }

.blog-thumbnail-header {
  margin: 0.5rem 0;
  font-size: 1.4rem; }

.blog-thumbnail-header-link:hover {
  text-decoration: underline; }

.blog-thumbnail-body {
  font-size: 1.1rem;
  line-height: 1.4; }
  .blog-thumbnail-body p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem; }
  .blog-thumbnail-body div img {
    float: right;
    height: 100px;
    width: 100px; }
  .blog-thumbnail-body::after {
    content: "";
    clear: both;
    display: block; }

.blog-thumbnail-body-read-more-link {
  font-size: 0.9rem; }

.blog-thumbnail-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  font-size: 0.9rem; }

.blog-thumbnail-footer-date {
  margin-right: auto; }

.blog-thumbnail-footer-date-text {
  font-weight: 600; }

.blog-thumbnail-footer-tags {
  margin-right: 1rem; }

.pagination {
  display: block;
  text-align: center;
  margin-top: 0.2rem; }

.pagination-links {
  padding: 0; }

.pagination-item {
  display: inline-block;
  transition: color, background-color 0.3s; }
  .pagination-item.disabled {
    pointer-events: none;
    opacity: 0.7; }

.pagination-item-navigation .pagination-link {
  padding: 0.3rem 1.5rem; }

.pagination-link {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 0.3rem 0.5rem; }

.underline-from-center {
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden; }
  .underline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .underline-from-center:hover::before {
    left: 0;
    right: 0; }

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  background-color: #000;
  color: #fff;
  /* White text color */
  text-align: left;
  /* Centered text */
  border-radius: 10px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 30px;
  /* Center the snackbar */
  bottom: 0.3rem;
  /* 30px from the bottom */ }
  #snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4s; }

@keyframes fadein {
  from {
    left: -100%;
    opacity: 0; }
  to {
    left: 30px;
    opacity: 1; } }

@keyframes fadeout {
  from {
    left: 30px;
    opacity: 1; }
  to {
    left: -100%;
    opacity: 0; } }
