################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MyBlog/bin
/src/MyBlog/obj
/src/MyBlog/MyBlog.csproj.user
/src/MyBlog/Properties
/src/MyBlog/web.config
/src/MyBlog/appsettings.Staging.json
/src/MyBlog/appsettings.json
/src/MyBlog/ClientApp/node_modules
/src/MyBlog/wwwroot
/src/BlogManager/src/environments/environment.staging.ts
/src/BlogManager/src/environments/environment.prod.ts
/src/BlogManager/src/web.config
/src/BlogManager/.vscode
/test/MyBlog/UnitTest.Repository/obj
/test/MyBlog/UnitTest.Repository/bin
/src/IDP/obj
/src/IDP/bin/Debug/netcoreapp2.2
/src/IDP/Properties
/src/IDP/tempkey.rsa
/src/IDP/appsettings.json
/test/MyBlog/UnitTest.Mapper/bin
/test/MyBlog/UnitTest.Mapper/obj
/test/MyBlog/UnitTest.Helpers/obj
/test/MyBlog/UnitTest.Helpers/bin
/test/MyBlog/UnitTest.BusinessLogic/bin
/test/MyBlog/UnitTest.BusinessLogic/obj
/src/logs/codeandcoffees
/src/IDP/appsettings.Staging.json
/src/IDP/.well-known
/src/IDP/bin
/src/IDP/Certificates
/src/IDP/Helpers/SigninCredentialExtension.cs
/src/MyBlog/node_modules
