@import "../shared/_variable.scss";

.blog-thumbnail {
  border-width: 1px;
  border-style: solid;
  padding: 0.4rem;
  position: relative;
  border-radius: $radius-round;
  margin-bottom: 0.6rem;
  transition: $backgound-color-transtion;
}

.blog-thumbnail-header {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.blog-thumbnail-header-link {
  &:hover {
    text-decoration: underline;
  }
}

.blog-thumbnail-body {
  font-size: 1.1rem;
  line-height: 1.4;

  p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  div {
    img {
      float: right;
      height: 100px;
      width: 100px;
    }
  }

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.blog-thumbnail-body-read-more-link {
  font-size: 0.9rem;
}

.blog-thumbnail-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  font-size: 0.9rem;
}

.blog-thumbnail-footer-date {
  margin-right: auto;
}

.blog-thumbnail-footer-date-text {
  font-weight: 600;
}

.blog-thumbnail-footer-tags {
  margin-right: 1rem;
}
