@import "../shared/variable.scss";

.pagination {
  display: block;
  text-align: center;
  margin-top: 0.2rem;
}
.pagination-links {
  padding: 0;
}
.pagination-item {
  display: inline-block;
  transition: color, background-color 0.3s;
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.pagination-item-navigation {
  .pagination-link {
    padding: 0.3rem 1.5rem;
  }
}
.pagination-link {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 0.3rem 0.5rem;
}