@model BlogDetailViewModel
@{

  ViewData["PageTitle"] = Model.Blog.Title;
  ViewData["MetaTitle"] = Model.Blog.Title;
  ViewData["PageDescription"] = Model.PageDescription;
  ViewData["MetaDescription"] = Model.PageDescription;
}

@section PageHeader {
  <div class="phbd">
    <h1 class="phbd-header">@Model.Blog.Title</h1>
    <div class="bdh-footer">
      <div class="bdhf-tag-date-wrapper">
        <div class="bdhf-date">
          <strong class="bdhf-date-icon">Publish Date: </strong>
          <span class="bdhf-date-text">@Model.Blog.PublishedDate.ToString("dd/MM/yyyy")</span>
        </div>
        <div class="bdhf-tags">
          <strong class="bdhf-tags-icon">Tags: </strong>
          @foreach (var tag in Model.Blog.Tags)
          {
            <span class="bdhf-tags-text">@(tag)</span> @:
          }
        </div>
      </div>
      <div class="bdhf-social">
        <strong class="bdhf-social-icon">Share This Post</strong>
        <div class="social-links-wrapper">
          <div class="icon-wrapper">
            <a aria-label="Fadi Ksho facebook account"
               href="https://www.linkedin.com/in/fadi-ksho/">
              <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
            </a>
          </div>
          <div class="icon-wrapper">
            <a aria-label="Fadi Ksho twitter account"
               href="https://twitter.com/FadiKsho">
              <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
            </a>
          </div>
          <div class="icon-wrapper">
            <a aria-label="Fadi Ksho github account"
               href="https://github.com/fadiksho">
              <svg class="icon"><use xlink:href="#icon-github"></use></svg>
            </a>
          </div>
          <div class="icon-wrapper">
            <a aria-label="Fadi Ksho linkedin account"
               href="https://www.linkedin.com/in/fadi-ksho/">
              <svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<article class="b-article">
  @Html.Raw(Model.Blog.Body)
  <vc:disqus disqus-options="Model.DisqusViewModel" />
</article>