@model BlogDetailViewModel
@{

  ViewData["PageTitle"] = Model.Blog.Title;
  ViewData["MetaTitle"] = Model.Blog.Title;
  ViewData["PageDescription"] = Model.PageDescription;
  ViewData["MetaDescription"] = Model.PageDescription;
}

@section PageHeader {
  <div class="phbd">
    <h1 class="phbd-header">@Model.Blog.Title</h1>
    <div class="bdh-footer">
      <div class="bdhf-tag-date-wrapper">
        <div class="bdhf-date">
          <strong class="bdhf-date-icon">Publish Date: </strong>
          <span>@Model.Blog.PublishedDate.ToString("dd/MM/yyyy")</span>
        </div>
        <div class="bdhf-tags">
          <strong class="bdhf-tags-icon">Tags: </strong>
          @foreach (var tag in Model.Blog.Tags)
          {
            <span class="bdhf-tags-text">@(tag)</span> @:
          }
        </div>
      </div>
      <div class="bdhf-social">
        <strong class="bdhf-social-icon">Share This Post</strong>
        <div class="social-links-wrapper">
          <a class="icon-twitter round-tl-br social-link">
          </a>
          <a class="icon-github round-tl-br social-link">
          </a>
          <a class="icon-linkedin-square round-tl-br social-link">
          </a>
        </div>
      </div>
    </div>
  </div>
}

<article class="b-article">
  @Html.Raw(Model.Blog.Body)
  <vc:disqus disqus-options="Model.DisqusViewModel" />
</article>