@import '../shared/_variable.scss';

.phbd
{
  background-color: $primary-color;
  border-color: $secondry-color;
  color: $white;
}

.phbd-header
{
  box-shadow: -2px 2px 5px lighten($secondry-color, 5%);
}

.bdhf-social
{
  box-shadow: 2px 2px 5px lighten($secondry-color, 5%);
}

.bdhf-tags-icon, .bdhf-date-icon, .bdhf-social-icon
{
  color: $secondry-color;
}

.bdhf-tags-text
{
  color: $white;
}

.b-article
{
  background-color: darken($background, 1%);
  color: $black;

  img
  {
    border-color: $primary-color;
  }

  a {
    color: $primary-color;
  }

  .alert
  {
    background-color: lighten($gray, 40%);
  }

  .alert-info
  {
    background-color: lighten($yellow, 35%);
  }

  .alert-success
  {
    background-color: lighten($green, 40%);
  }

  .alert-danger
  {
    background-color: lighten($red, 30%);
  }

  h1, h2, h3, h4, h5, h6
  {
    color: $primary-color;
  }

  pre
  {
    border-color: $secondry-color;
  }

  table
  {
    tr
    {
      background-color: $primary-color;
      border-top-color: $secondry-color;

      th
      {
        color: $white;
      }

      td
      {
        background-color: $background;
        color: $color;
      }
    }
  }

  strong
  {
    color: $black;
  }
}

.comments-block-button
{
  background-color: transparent;
  color: $primary-color;
  border-color: $primary-color;

  &:hover
  {
    background-color: $primary-color;
    color: $white;
  }
}

.hljs
{
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable
{
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag
{
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition
{
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta
{
  color: #2b91af;
}

.hljs-doctag
{
  color: #808080;
}

.hljs-attr
{
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link
{
  color: #00b0e8;
}

.hljs-emphasis
{
  font-style: italic;
}

.hljs-strong
{
  font-weight: bold;
}
