$white: #fff;
$black: #000;
$yellow: #ffc107;
$green: #28a745;
$red: #dc3545;
$gray: #6c757d;

$primary-color: #0F006B;

$secondry-color: #FF8442;
$secondry-color-darken: #993500;

$color: #000;
$background: #fff !default;
$link-color: $primary-color;
$link-hover-color: darken($link-color, 15%);

$breakpoint-xs: 0px;
$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;

$headings-margin-bottom: 0.5rem;
$paragraph-margin-bottom: 1rem;
$radius-round: 10px;
$backgound-color-transtion: background-color 0.3s linear;
