$white: #fff;
$black: #000;
$yellow: #ffc107;
$green: #28a745;
$red: #ff0018;
$gray: #6c757d;

$primary-color: #ff7b39;
$secondry-color: gray;

$color: darken(#fff, 7%);

$background: #000;
$background-secondry: lighten($background, 8%);
$link-color: royalblue;
$link-hover-color: darken($link-color, 10%);

$breakpoint-xs: 0px;
$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;
$breakpoint-xxl: 90rem;

$headings-margin-bottom: 0.5rem;
$paragraph-margin-bottom: 1rem;
$radius-round: 5px;
$backgound-color-transtion: background-color 0.3s linear;

$background-color-transtion: background-color 0.3s, color 0.3s;
