@charset "UTF-8";

@font-face {
  font-family: "icons-font";
  src: url("../Assets/fonts/icons-font/icons-font.woff") format("woff"),
    url("../Assets/fonts/icons-font/icons-font.ttf") format("truetype"),
    url("../Assets/fonts/icons-font/icons-font.eot"),
    url("../Assets/fonts/icons-font/icons-font.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  line-height: 1;
  font-size: 1.3rem;
}

.icon-facebook-official:before {
  content: "\61";
}

.icon-linkedin-square:before {
  content: "\62";
  color: #0077b7;
}

.icon-github:before {
  content: "\63";
  color: black;
}

.icon-moon-o:before {
  content: "\64";
}

.icon-sun-o:before {
  content: "\65";
}

.icon-bell:before {
  content: "\66";
}

.icon-calendar:before {
  content: "\67";
}

.icon-tags:before {
  content: "\68";
}

.icon-bell-slash:before {
  content: "\69";
}

.icon-external-link:before {
  content: "\6a";
}

.icon-twitter:before {
  content: "\6b";
  color: #65bbf2;
}
