@import 'reboot.scss';
@import 'icons-font.scss';

@import './mixins';
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 1); 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.26);
}
.hide-md-down {
  display: none;
}
@include media-breakpoint-md {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-lg {
  .hide-lg-up {
    display: none;
  }
  .hide-md-down {
    display: block;
  }
}

@include media-breakpoint-xl {
  html {
    font-size: 1.2rem;
  }
}

/* Shared ******************************************************************** */

button:disabled,
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.container {
  padding: 0.5rem;
}

.btn-image {
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
  background-color: white;
  img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
}

.disqus {
  padding: 0.5rem;
  display: none;
  border-radius: $radius-round;
}

.round-tl-br {
  border-radius: 8px 3px;
}

.social-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
.social-link {
  padding: 0.2rem;
}
/* Blog List ******************************************************************** */
.phbl
{
  @include page-header;
  transition: $backgound-color-transtion;

  .pgbl-header
  {
    font-size: 1.8rem;
    margin: 0;
  }
}

/* Footer ******************************************************************** */
footer {
  text-align: center;
  font-style: italic;
  margin: 1rem;
}
