.phbd {
  background-color: #0F006B;
  border-color: #FF8442;
  color: #fff; }

.phbd-header {
  box-shadow: -2px 2px 5px #ff955c; }

.bdhf-social {
  box-shadow: 2px 2px 5px #ff955c; }

.bdhf-tags-icon, .bdhf-date-icon, .bdhf-social-icon {
  color: #FF8442; }

.bdhf-tags-text {
  color: #fff; }

.b-article {
  background-color: #fcfcfc;
  color: #000; }
  .b-article img {
    border-color: #0F006B; }
  .b-article a {
    color: #0F006B; }
  .b-article .alert {
    background-color: #d8dbdd; }
  .b-article .alert-info {
    background-color: #ffeeba; }
  .b-article .alert-success {
    background-color: #afecbd; }
  .b-article .alert-danger {
    background-color: #f3b7bd; }
  .b-article h1, .b-article h2, .b-article h3, .b-article h4, .b-article h5, .b-article h6 {
    color: #0F006B; }
  .b-article pre {
    border-color: #FF8442; }
  .b-article table tr {
    background-color: #0F006B;
    border-top-color: #FF8442; }
    .b-article table tr th {
      color: #fff; }
    .b-article table tr td {
      background-color: #fff;
      color: #000; }
  .b-article strong {
    color: #000; }

.comments-block-button {
  background-color: transparent;
  color: #0F006B;
  border-color: #0F006B; }
  .comments-block-button:hover {
    background-color: #0F006B;
    color: #fff; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black; }

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f; }

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515; }

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af; }

.hljs-doctag {
  color: #808080; }

.hljs-attr {
  color: #f00; }

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
