.theme {
  background-color: #000;
  color: #ededed; }

.btn:focus {
  box-shadow: 0px 0px 0px 0.1rem #FF7B39; }

.underline-from-center-d.active::before {
  background-color: gray; }

.underline-from-center-d::before {
  background-color: gray; }

.nav {
  background: #0d0d0d;
  color: #ededed; }

.nav-brand-link {
  color: #ededed; }
  .nav-brand-link span {
    color: #FF7B39; }

.nav-item {
  border-color: #FF7B39; }

.nav-link {
  color: #FF7B39; }
  .nav-link.active {
    color: #ededed;
    background-color: #FF7B39; }

.nav-button {
  color: #FF7B39; }

.aboutAuther-container {
  background-color: #0d0d0d;
  color: #ededed; }

.aboutAuther-text {
  border-color: #FF7B39; }

.aboutAuther-text-auther {
  border-color: gray; }

.aboutAuther-text-name {
  color: #FF7B39; }

.aboutAuther-text-quote {
  color: #FF7B39; }

.aboutAuther-social {
  border-color: #FF7B39; }

.phbl {
  background-color: #1f1f1f;
  color: #FF7B39; }

.blog-thumbnail {
  border-color: gray;
  background-color: #0d0d0d; }

.blog-thumbnail-header-link {
  color: #FF7B39; }

.blog-thumbnail-body-read-more-link {
  color: gray; }

.blog-thumbnail-footer-date-icon {
  color: #FF7B39; }

.blog-thumbnail-footer-tags-icon {
  color: #FF7B39; }

.pagination-item {
  background-color: #1a1a1a; }
  .pagination-item.active {
    background-color: #FF7B39;
    color: #ededed; }
  .pagination-item:hover {
    color: #ededed;
    background-color: #d24600; }

.pagination-item-navigation {
  color: #ededed;
  background-color: #FF7B39; }
  .pagination-item-navigation:hover {
    background-color: #ec4f00; }

.pagination-link {
  border-color: #FF7B39;
  color: #ededed; }

.social-link {
  background-color: white; }

.comments-block-button {
  background-color: transparent;
  color: #FF7B39;
  border-color: #FF7B39; }
  .comments-block-button:hover {
    background-color: #FF7B39;
    color: #fff; }
