$white: #fff;
$black: #000;
$yellow: #ffc107;
$green: #28a745;
$red: #ff0018;
$gray: #6c757d;

$primary-color: #ff7b39;
$secondry-color: #6c757d;
$color: #ededed;
$background: #000;
$background-secondry: #141414;
$surface: #1a1a1a;
$surface-2: #222222;
$surface-3: #2a2a2a;
$backgound-color-transtion: background-color 0.3s linear;
$background-color-transtion: background-color 0.3s, color 0.3s;


$breakpoint-xs: 0px;
$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;
$breakpoint-xxl: 90rem;

$headings-margin-bottom: 0.5rem;
$paragraph-margin-bottom: 1rem;
$radius-round: 4px;

