<div class="aboutAuther-container">
  <div class="aboutAuther">
    <img width="75"
         height="75"
         class="aboutAuther-image"
         src="~/dist/images/auther-image.png"
         alt="auther image">
    <p class="aboutAuther-text">
      <span class="aboutAuther-text-auther">Auther: <strong class="aboutAuther-text-name">Fadi Ksho</strong></span><br>
      Hi there, I am software engineer I blog about backend and frontend technologies, algorithms, and what ever I find it interesting,
      I share what I learned in my career with others in different way,
      thats what life mean to me in programming world which is similar to real life.
      <span class="aboutAuther-text-quote">(learn => accomplish => help)</span> repeat
    </p>
    <div class="aboutAuther-social">
      <h4 class="aboutAuther-social-header">Follow me</h4>
      <div class="social-links-wrapper">
        <div class="icon-wrapper">
          <a aria-label="Fadi Ksho twitter account"
             href="https://twitter.com/FadiKsho">
            <svg class="icon"><use href="#icon-twitter"></use></svg>
          </a>
        </div>
        <div class="icon-wrapper">
          <a aria-label="Fadi Ksho github account"
             href="https://github.com/fadiksho">
            <svg class="icon"><use xlink:href="#icon-github"></use></svg>
          </a>
        </div>
        <div class="icon-wrapper">
          <a aria-label="Fadi Ksho linkedin account"
             href="https://www.linkedin.com/in/fadi-ksho/">
            <svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>