<div class="welcome-page">
  <div class="row page-header">
    <div class="col-sm-10">
      <h1>
        <img class="icon" src="~/icon.jpg">
        Code And Coffees Auth Powered By Identity Server 4
      </h1>
    </div>
  </div>
</div>
